<div class="description">
    <h4>Structural directives</h4>
    <p>Structural directives change the structure of the DOM by adding or removing elements. They are recognizable by
        the asterisk (*) before the directive attribute.</p>
</div>

<br><br>


<button (click)="showNGIFdescription()" class="button-92">
    *ngIf Directives
</button>

<div class="description" *ngIf="display; else example">
    <p>A structural directive that conditionally includes a template based on the value of an expression contained to a
        Boolean value. When the expression evaluates to true, Angular renders the template provided in, and when
        false, Angular renders the template provided in an optional else.</p>
</div>
<ng-template #example>
    <p class="description">Click On The *ngIf To See Definition.</p>
</ng-template>



<style>
    .description {
        margin-top: 20px;
        padding: 20px;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
    }

    .button-92 {
        background: #000000;
        color: white;
        border: none;
        font-weight: 600;
        font-size: 1.5rem;
        padding: .1em .4em;
        border-radius: 5px;
    }
</style>